.ag-reels-container {
  margin: auto;
  padding: 0 3rem;
}

.ag-reels-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ag-reels-videos {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.ag-reels-videos video {
  width: 300px;
}
