.my-mini-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-slideshow-container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.mini-slideshow-left {
  width: 50%;
  overflow: hidden;
  border-radius: 8px;
}

.mini-slideshow-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mini-slideshow-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.mini-slideshow-button:hover {
  background-color: #333;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .mini-slideshow-container {
    max-width: 768px;
  }
  .mini-slideshow-left {
    width: 50%;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .mini-slideshow-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .mini-slideshow-left {
    width: 95%;
    overflow: hidden;
  }

  .mini-slideshow-right {
    width: 85%;
  }
}
