.ag-reels-container {
  margin: auto;
  padding: 0 3rem;
}

.ag-reels-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ag-reels-videos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.ag-reels-videos::-webkit-scrollbar {
  display: none;
}

.ag-reels-videos video {
  width: 300px;
  scale: 0.8;
  border-radius: 12px;
  transition: scale 0.3s ease-in-out;
}

.ag-reels-videos video:hover {
  scale: 1;
}
